#navBarActive2 a.active{
    background-color: white;
    font-weight: bold;
    border-bottom: 4px solid orangered;
    border-radius: 10px;
    color: black;
}   

#navBarActive1 a.active{
    background-color: white;
    font-weight: bold;
    border-bottom: 4px solid orangered;
    border-radius: 10px;
    color: black;
}   


#dashboard a.active{
    background-color: white;
    font-weight: bold;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 4px solid orangered;
    border-radius: 10px;
    color: black;
}